CompileFlags:
  Add:
    - "-Isrc"
    - "-std=c++17"
  Remove:
    - "-W*"  # Remove warning flags that might be noisy in the editor
  CompilationDatabase: build

Index:
  Background: Build
#  StorageDir: build/.cache/clangd/index
